<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio Anderson</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#formacao">Formação</a></li>
                <li><a href="#experiencias">Experiências</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#projetor">Projetos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="home">
            <img src="img/Anderson.png" alt="Anderson" width="300px">
            <h1>Antonio Anderson de França</h1>
            <p>
                Desenvolvedor Full Stack em andamento <br>
                <img src="img/css-3.png" alt="css" width="30px">
                <img src="img/java-script.png" alt="js" width="30px">
                <img src="img/python.png" alt="python" width="30px">
                <img src="img/linux.png" alt="linux" width="30px">
                <img src="img/github.png" alt="github" width="30px">
                <img src="img/html.png" alt="html" width="30px">
            </p>
        </section>

        <hr>

        <section id="sobre">
            <h2>Sobre</h2>
            <p>
                Sou Antonio Anderson de França, estudante de Redes de Computadores na Universidade Federal do Ceará...
            </p>
        </section>

        <hr>

        <section id="formacao">
            <h2>Formação Acadêmica</h2>
            <p><strong>Universidade Federal do Ceará</strong> - Graduação em Redes de Computadores (2020 - 2025)</p>
            <h3>Outras Formações</h3>
            <p><strong>Bootcamp Full Stack</strong> - One BiteCode<br>
               <strong>SFPC</strong> - Certiprof (2024)</p>
        </section>

        <section id="experiencias">
            <h2>Experiências Profissionais</h2>
            <p><strong>Bolsista - UFC (2024)</strong></p>
            <ul>
                <li>Ministrante em grupo de estudos de DevOps</li>
            </ul>
        </section>

        <hr>

        <section id="habilidades">
            <h2>Habilidades</h2>
            <fieldset>
                <legend>Habilidades Técnicas</legend>
                <p><strong>Desenvolvimento Web - Iniciante</strong></p>
                <ul><li>HTML</li><li>CSS</li><li>JavaScript</li></ul>
                <p><strong>Python - Intermediário</strong></p>
                <p><strong>Scripts</strong></p>
                <ul><li>Shell Script</li></ul>
                <p><strong>Sistemas Operacionais</strong></p>
                <ul><li>Linux</li><li>Windows</li></ul>
                <p><strong>GitHub</strong></p>
            </fieldset>
        </section>

        <section id="projetos">
            <h2>Projetos</h2>
            <fieldset>
                <legend>Projetos Realizados</legend>
                <ul>
                    <li>Desenvolvimento Web com HTML, CSS e JS
                        <ul>
                            <li><a href="https://github.com/andersonqxd/Projeto_Dev_Web">Análise de contratos públicos</a></li>
                            <li><a href="https://github.com/andersonqxd/PetLife">PetLife</a></li>
                        </ul>
                    </li>
                    <li>Sistema Distribuído com C++ e Python
                        <ul>
                            <li><a href="https://github.com/andersonqxd/sistema-de-restaurante-sd">Sistema de Restaurante</a></li>
                        </ul>
                    </li>
                    <li>Automatização com Shell Script
                        <ul>
                            <li><a href="https://github.com/andersonqxd/Progama-o_De_scripts">Scripts para automação e monitoramento</a></li>
                        </ul>
                    </li>
                </ul>
            </fieldset>
        </section>
    </main>

    <footer>
        <h3 id="contato">Contato</h3>
        <a href="https://www.linkedin.com/in/anderson-franca-rc/"><img src="img/linkedin.png" alt="linkedin" width="30px"></a>
        <a href="https://github.com/andersonqxd"><img src="img/github-contact.png" alt="github" width="30px"></a>
        <a href="mailto:anderson.rc.franca@gmail.com"><img src="img/mail.png" alt="gmail" width="30px"></a>
        <p>&copy; 2023 Anderson França</p>
        <a href="#home">Topo</a>
    </footer>
</body>

</html>